[submodule "beeyond-backend"]
	path = beeyond-backend
	url = https://github.com/AbhishekSankhla121/Beeyond-backend
	branch = main
[submodule "beeyond-frontend"]
	path = beeyond-frontend
	url = https://github.com/AbhishekSankhla121/Beeyond-frontend
	branch = main
